.border{
    border: 1px solid rgb(71, 69, 69);
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}
.bg-gray{
background-color: rgb(18, 16, 16);
}
.rounded{
 border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 5px;
}
/* Style the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #000; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333; /* color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the handle when hovered */
}
